/*html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('beige-tiles.png');
	display: flex;
	align-items: center;
	justify-content: center;
}

.clock {
	height: 200px;
	width: 200px;
	border: 10px solid #FBDDC4;
	border-radius: 100%;
	background: #EEEFF2;
	position: relative;
	padding: 10px;
}

.hand {
	top: 50%;
	left: 50%;
	position: absolute;
	height: 5px;
	width: 45%;
	background: #8E9090FF;
	transform-origin: 0% 50%;
	transform: rotate(-90deg);
	/*transform: translateY(-2.5px);*/
}

.hr-hand {
	width: 30%;
}

.seconds-hand {
	height: 2px;
	/*transform: translateY(-1px);*/
	background-color: #B2B5B8FF;
}

.center-dot {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	transform: translate(-4px, -4px);
	border-radius: 100%;
	background-color: #8E9090FF;
	z-index: 99;
}